* {
    border-radius: 0px 0px 10px 10px;
}

.footer {
    background-color: #161619;
    height: 4em;
    display: flex;
    align-items:baseline;
    justify-content: space-around;
    margin-bottom: 44px;
}

.icon {
    margin-top: 1.25em;
    width: 1.5em;
    border-radius: 10px 10px 10px 10px;
}